*{
    margin: 0;
}

input{
    width: auto;
    height: 30px;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 5px;
}
.content-label{
        background-color: azure;
        margin: 80px auto;
        max-width: 750px;
        border-radius: 10px;
        padding: 32px;
        margin-bottom: 80px;
        
    
    display: flex;
    flex-direction: column;
    justify-content: center;

}
#nick{
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
#nick-input{
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
h1.title{
    margin-top: 50px;
    margin-bottom: 10px;
}
button{    
    margin-top: 20px;
}

a.play{
    text-align: center;
}
button.play{
    width: 400px;
    text-align: center;
    margin-left: 150px;
}